body{
	margin: 0px;
	padding:0px;
	font-family: sans-serif;
}

.ottc{
	height: 65px;
}

.headding{
	display: flex;
	justify-content: center;
}

.headding img{
	z-index: -1;
	position: relative;
	top: 60px;
	height: 15rem;
}

.headding article{
	padding: 25px;
}

.headding article h1{
	color: #1c1c1c;
	word-wrap: break-word;
	font-size: 50px;
	font-weight: 100;
	width: 600px;
}

.headding article .butt1{
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 50px;
	padding: 10px 20px 10px 20px;
	margin: 5px;
	background-color: #42b983;
}

.headding article .butt2{
	text-decoration: none;
	color: #42b983;
	font-size: 20px;
	border-radius: 50px;
	padding: 10px 20px 10px 20px;
	margin: 5px;
	border: 1px solid #42b983;
}

aside{
	z-index: -1;
	text-align: center;
	position: relative;
	top: 40px;
}

aside h2{
	color: #1c1c1c;
	text-align: center;
	font-weight: 100;
	font-size: 23px;
	margin: 25px;
}

aside img{
	width: 150px;
}

.plus{
	z-index: -1;
	position: relative;
	top: 50px;
	display: flex;
	word-wrap: break-word;
	justify-content: center;
	text-align: center;
}

.item{
	width: 200px;
	margin: 70px;
}

.itemHeadding{
	font-weight: 100;
	color: #42b983;
	margin: 10px;
	font-size: 30px;
}

.itemPlus{
	font-weight: 100;
	color: #1C1C1C;
	font-size: 17px;
}

.rass{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.rass .rassHeadding{
	font-size: 25px;
	color: #1C1C1C;
	font-weight: 100;
}

.rass p{
	font-weight: 100;
	font-size: 15px;
	color: #1C1C1C;
}

.rass a{
	text-decoration: none;
	color: #42b983;
}

.rass form{
	margin-left: auto;
	margin-right: auto;
	padding: 1px 2px 1px 2px;
	border: 1px solid #42b983;
	border-radius: 50px;
}

.rass form input{
	border: none;
	outline: none;
	font-size: 15px;
	margin: 3px;
	padding: 5px 15px 5px 15px;
	color: #1C1C1C;
}

.rass form button{
	border: none;
	font-weight: 400;
	border-radius: 50px;
	background-color:#42b983;
	color: white;
	font-size: 20px;
	margin:2px;
	padding: 5px 15px 5px 15px;
}
